.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  height: 50px;
  display: flex;
  align-items: center;
}
.scoreboard{
  border: 2px solid black;
  width: 100px;
  margin: 10px;
}


